:root {
  --white: #f9f9f9;
  --white-two: #ffffff;
  --weird-green: #57e690;
  --pastel-orange: #ff915b;
  --pale-orange: #ffbe5b;
  --kiwi-green: #8fe360;
  --light-gold: #ffdf5b;
  --popular-blue: #4bb6f4;
  --epic-red: #f45252;
  --boring-green: #70b484;
  --more-boring-green: #48945c;
  --boring-red: #ff3454;
  --more-boring-red: #cc2b42;
}